<ion-view view-title="Registarse">
  <ion-content>
	<form name="myForm" novalidate>
       <div class="list list-inset">
  		<label class="item item-input">
    		<input name="username" ng-model="user.name" placeholder="Usuario" highlight-color="balanced" type="text" ng-minlength="5"  required>
  		</label>
 		<label class="item item-input">
    		<input name="email" ng-model="user.email" placeholder="E-mail" highlight-color="balanced" type="email" ng-minlength="7" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,24})$/" required >
  		</label>
  		<label class="item item-input">
   			 <input name="password" ng-model="user.password" placeholder="Contraseña" highlight-color="energized" type="password" ng-minlength="6" required>
  		</label>
		</div>
        <div class="padding">
            <p ng-show="myForm.username.$error.required">* Falta completar Nombre de Usuario</p>
            <p ng-show="myForm.username.$error.minlength">* Tiene que ser mayor o igual a 5 caracteres</p>
            
            <p ng-show="myForm.email.$error.required">* Completar con un email valido</p>
            <p ng-show="myForm.email.$error.minlength">* Tiene que ser mayor o igual a 7 caracteres</p>
            
            <p ng-show="myForm.password.$error.required">* Contraseña invalida</p>
            <p ng-show="myForm.password.$error.minlength">* La contraseña tiene que tener un minimo de 6 caracteres</p>
        </div>
        
        
        
        <div class="padding">
            <button  ng-disabled="myForm.$invalid" ng-click="doRegister()" class="button button-full button-assertive ink">Registrar</button>
        </div>
        
     </form>
  </ion-content>
</ion-view>