<ion-view view-title="{{nombreUsuario()}} - Anuncios">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar" ng-model="searchQuery" />
    </label>
      <div class="card">
          <a class="item item-text-wrap" ng-repeat="aviso in avisos | filter:searchQuery" href="#/app/avisos/{{aviso.id}}">
              <h2>{{aviso.title}}</h2>
              <p>{{aviso.descripcion}}</p>
          </a>
      </div>
  </ion-content>
</ion-view>
