<ion-view view-title="Perfil">
  <ion-content>
  	<div class="card">
		<div class="item item-text-wrap">
			<h1>{{aviso.title}}</h1>
			<div class="list">
        <label class="item item-input">
			    <input type="text" placeholder="Titulo" ng-model="aviso.title">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Descripcion" ng-model="aviso.descripcion">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="E-Mail Creador" ng-model="avisousuario.email">
			  </label>
			</div>

			<button ng-click="doDelete()" class="button button-assertive {{esAdmin()}}">
			  Borrar
			</button>
		</div>
	</div>

  </ion-content>
</ion-view>
