<ion-view view-title="Menu" cache-view="false">
    <ion-side-menus enable-menu-with-back-views="false">

        <!--View Menu Head Bar-->
        <ion-side-menu-content>
            <ion-nav-bar class="menu-header noborder">
                <!--Back button-->
                <ion-nav-back-button style="color: white">
                </ion-nav-back-button>
                <!--Menu button-->
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: white"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>

        <!--Side Menu-->
        <ion-side-menu side="left">
            <ion-header-bar class="menu-title">
                <h1 class="title">{{usuario}}</h1>
            </ion-header-bar>
            <ion-content class="menu-container">
                <ion-list>
                    <ion-item menu-close href="#/app/perfil" class="menu-item">
                        <i class="icon ion-person menu-icon"></i> Perfil
                    </ion-item>
                    <ion-item menu-close href="#/app/favoritos" class="menu-item">
                        <i class="icon ion-heart menu-icon"></i> Favoritos
                    </ion-item>
                    <ion-item menu-close href="#/app/mensajes" class="menu-item">
                        <i class="icon ion-chatbubble-working menu-icon"></i> Mensajes
                    </ion-item>
                    <ion-item menu-close href="#/app/anuncios" class="menu-item">
                        <i class="icon ion-ios-paper menu-icon"></i> Anuncios
                    </ion-item>
                    <ion-item menu-close href="#/app/crearanuncio" class="menu-item">
                        <i class="icon ion-plus-round menu-icon"></i> Crear Anuncio
                    </ion-item>
                    <ion-item menu-close ng-click="doLogout()" class="menu-item">
                        <i class="icon ion-power menu-icon"></i> Desconectarse
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>