<ion-view view-title="Nuevo Aviso">
  <ion-content>
  	<form name="myForm" novalidate>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Titulo</span>
      <input type="text" name="title" placeholder="Titulo del aviso" ng-model="anuncios.title">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Descripcion</span>
      <textarea name="descripcion" placeholder="Detalles del aviso" ng-model="anuncios.descripcion"></textarea>
    </label>

  <div class="col">
    <button ng-click="doRegister()" class="item button button-block button-positive ink">Crear Aviso</button>
  </div>

</form>
  </ion-content>
</ion-view>


