<ion-view view-title="Nuevo Usuario">
    <ion-content id="loginView">

        <div class="newUserMenu menu-shadow">
            <a href="#/login" class="linkblanco"><div class="ion-arrow-left-a" style="margin-left: 15px; display: inline"></div><p style="margin-left: 10px; display: inline">Volver</p></a>
        </div>

        <div class="row menu-shadow" id="loginTop">
            <div class=" col">
                <div class="col text-center" style="padding-top: 5%">

                    <img src="img/newuser.png" />

                </div>
            </div>
        </div>

        <div id="loginBottom">
            <div class="list list-inset login-list" style="padding: 0 10px 0 10px">
                <form name="myForm" novalidate>
                    <label class="login-item item-input">
                        <span class="ion-person" style="margin: 0 15px 0 0; color: #95a5a6"></span>
                        <input name="username" ng-model="user.name" placeholder="Nombre y Apellido" highlight-color="balanced" type="text">
                    </label>
                    <br />
                    <label class="login-item item-input">
                        <span class="ion-ios-email" style="margin: 0 15px 0 0; color: #95a5a6"></span>
                        <input name="email" ng-model="user.email" placeholder="E-mail" highlight-color="balanced" type="text">
                    </label>
                    <br />
                    <label class="login-item item-input">
                        <span class="ion-android-lock" style="margin: 0 15px 0 0; color: #95a5a6"></span>
                        <input name="password" ng-model="user.password" placeholder="Clave" highlight-color="energized" type="password">
                    </label>
                    <br />
                    <label class="login-item item-input">
                        <span class="ion-checkmark-circled" style="margin: 0 15px 0 0; color: #95a5a6"></span>
                        <input name="confirmpassword" ng-model="user.confirmpassword" placeholder="Confirmar Clave" highlight-color="energized" type="password">
                    </label>

                    <div style="margin-top: 20px">
                        <button ng-click="doRegister()" class="button button-block gradientBG login-button">Registrarme</button>
                    </div>
                </form>

                <p class="login-text" style="margin-top: 15px;">Al hacer click en <i>"Registrarme"</i> est&aacute;s aceptando nuestros <b><u>T&eacute;rminos y Condiciones</u></b> de uso.</p>
            </div>
        </div>
</ion-content>
</ion-view>